

<!--
  note: site.pages only include a index.html page -bug? why? why not??
    try site.documents for now

  site.pages     | size:  {{ site.pages | size }}
  site.documents | size:  {{ site.documents | size }}

  note: do NOT use page for loop variable; page is a "reserverd" pre-defined global variable

  check auto-set settings:
  site.github.url  {{ site.github.url }}
  site.baseurl     {{ site.baseurl }}
  site.url         {{ site.url }}
-->


<div style="float: right; background-color: #eeeeee; padding: 4px; border: solid 1px silver; font-size: 80%;">
  <div>
    <b>Pages ({{ site.pages | size }}) </b>
  </div>
  <div>
    {{ for doc in site.pages }}
       <a href="{{ doc.url | relative_url }}">{{ doc.title }}</a><br>
    {{ endfor }}
  </div>
</div>
