

<!--
  note: site.pages only include a index.html page -bug? why? why not??
    try site.documents for now

  site.pages      | size:  {{ site.pages | size }}  - note: includes css etc.
  site.html_pages | size:  {{ site.html_pages | size }}
  site.documents  | size:  {{ site.documents | size }}

  note: check if we can use page for loop variable
   e.g. page is a "reserverd" pre-defined global variable

  check auto-set settings:
  site.github.url  {{ site.github.url }}
  site.baseurl     {{ site.baseurl }}
  site.url         {{ site.url }}
-->


<div style="float: right; background-color: #eeeeee; margin: 24px; padding: 4px; border: solid 1px silver; font-size: 80%;">
  <div>
    <b>Pages</b> ({{ site.html_pages | size }})
  </div>
  <div>
    {% for page in site.html_pages %}
       <a href="{{ page.url | relative_url }}">{{ page.title }}</a><br>
       <!--
           page.title: {{ page.title }}
           page.date:  {{ page.date }}
           page.id:    {{ page.id }}
         -->
    {% endfor %}
  </div>
</div>
