<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <style>
    body {
     font-family: Helvetica, Arial, sans-serif;
    }

    a {
      color: navy;
      text-decoration: none;
    }
    a:visited {
      /* color: navy; */
    }
    a:hover {
      text-decoration: underline;
    }

  </style>
</head>
<body>

  {% include github.html %}
  {% include pages.html %}

  {{ content }}

  {% include footer.html %}

</body>
</html>
