<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <style>

   body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
   }

   .container {
     max-width: 38rem;
     padding-left: 1rem;
     padding-right: 1rem;
     margin-left: auto;
     margin-right: auto;
   }

    a {
      color: navy;
      text-decoration: none;
    }
    a:visited {
      /* color: navy; */
    }
    a:hover {
      text-decoration: underline;
    }

  </style>
</head>
<body>
  {% include github.html %}
  {% include pages.html %}

  <div class="container">

   {{ content }}

   {% include footer.html %}
 </div>
</body>
</html>
